<html>
<header>
<title><page-title param="true"/></title>
</header>
<body>
<h1><page-title/></h1>
<contents param="true" type="xml"/>
<debug param="true" type="xml" optional="true">
hello le debug
</debug>
<p>
<value param="true" type="int" optional="true"
  to_xml="fun x -&gt; [Xtmpl.D (string_of_int x)]">1+1</value>
</p>
</body>
</html>