<html>
<header>
<title><page-title param="true"/></title>
</header>
<body>
<h1><page-title/></h1>
<contents param="true" type="xml"/>
<p>
<value param="true" type="int"
  to_xml="fun x -&gt; [Xtmpl.D (string_of_int x)]"/>
</p>
</body>
</html>